@use "../../assets/styles/mixins" as mixin;


.navBar {

}
.homepageLink {
  margin: 0 2rem;
  height: 4rem;
  width: 20%;
  background: RGB(47, 37, 106);
  color: white;
  border-radius: 5px;
  font-size: 1.2rem;
  // box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  //   rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  // border: 2px solid white;
  &:hover {
    
  }

  @include mixin.xs {
    width: 15rem;
    height: 7rem;
    margin: 0.5rem auto;
    box-shadow: none;
  }
}
.mainContainer {
  background: url("../../../public/img/Homepage.jpg") center no-repeat;
  background-size: 100%;
  width: 100%;
}

.containerCardXs {
  @include mixin.xs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin: 3rem;
  }
}

.cardXs {
}

.mainContainerXs {
  background: url("../../../public/img/accueil.png") cover;
  @include mixin.xs {
    margin-top: 5rem;
    p {
      display: none;
    }
  }
}

.homepageText {
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  width: 50%;
  margin: 5rem auto;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  h1 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  @include mixin.xs {
    display: none;
  }
}

.homepageImg {
  width: 20%;
  border-radius: 20px;
  margin-left: 10rem;
  margin-top: 2rem;
}

.homepageImgXs {
  @include mixin.xs {
    display: none;
  }
}
