:root {
  --primary:RGBA(47, 37, 106, 1.0) ;
  --gray-1:RGB(32, 35, 42) ;
  --gray-2: #efefef;
  --orange:RGBA(215, 89, 75, 1.0);
  --font-family: "Monserrat", sans-serif ;
  --box-shadow: 0 6px 5px 0 rgb(0 0 0 / 10%);
  --box-shadow-nav: rgb(0 0 0 / 10%) 0px 2px 5px 0px;
  --text-color: #444;
}