.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
  padding: 20px;
  min-width: 80vh;

}

.mapContainer {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.searchBarContainer {
  width: 100%;
  margin-bottom: 20px;
}

.searchTerm {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px 0 0 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.searchButton {
  background-color: var(--primary);
  border: none;
  color: white;
  border-radius: 0 5px 5px 0;
  width: 5rem;
}

.searchTerm:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.buttonContainer button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: var(--primary);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttonContainer button:hover {
  background-color: #0056b3;
}

.buttonContainerListe {
  display: flex;
  justify-content: center;
}

.buttonContainerListes {
  padding: 10px 20px;
  margin-bottom: 3rem;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttonContainerListes:hover {
  background-color: #218838;
}

// .searchResults {
//   width: 100%;
//   margin-top: 20px;
// }

// .searchResults h2 {
//   margin-bottom: 10px;
//   color: #333;
// }

// .searchResults ul {
//   list-style: none;
//   padding: 0;
// }

// .searchResults li {
//   margin-bottom: 5px;
//   color: #555;
//   transition: color 0.3s ease;
// }

// .searchResults li:hover {
//   color: #000;
// }

.searchResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; // ou une autre méthode pour aligner les cartes

  .searchResultCard {
    width: 30%; // Ajustez la largeur selon vos besoins
    margin-bottom: 20px; // Espace entre les cartes
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Ajoutez une ombre si vous le souhaitez

    h3 {
      margin-top: 0;
    }

    p {
      margin-bottom: 5px;
    }
  }
}

.specialistesContainer {
  display: flex;
  flex-direction: column; // Pour afficher les cartes en colonne
}